{% extends 'base.html.twig' %}

{% block title %}Hello LoginpageController!{% endblock %}

{% block body %}
<h1> Login </h1>
<a href= "{{ path ('app_login')}}"> Login </a>
<a href= "{{ path ('register')}}"> Dont have an account? </a>


{% endblock %}
